body {
    background-color: white;
    color: black;
    font-family: 'Red Hat Text', verdana, sans-serif;
}
h1 {
    font-family: 'Red Hat Text', verdana, sans-serif;
    font-size: 2vw;
    margin-top: 0vh;
    margin-bottom: 0.5vh;
}
#main_grid {
    display: grid;
    grid-template-rows: auto auto;
}
#upper_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#right_grid {
    display: grid;
    grid-template-rows: auto auto;
}
#lower_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}
#buttons {
    display: grid;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.clickable:hover {
    cursor: pointer;
}
.bordered {
    border: 1px solid;
    border-collapse: collapse;
}
.checkbox {
    position: relative;
    left: 5%;
    top: 25%;
    font-size: 1.25vw;
}
#lbl_compare {
    background-color: #d9d9d9;
}
#compare_rankings {
    background-color: rgba(219, 218, 218, 0.904);
}
#author_search {
    margin-top: 3vh;
}
#author_lbl {
    font-size: 1.25vw;
}
#author {
    width: 5vw;
}
#x {
    color: #a1a1a1;
}